<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
	 
  <system.webServer>
    <httpErrors>
      <remove statusCode="400" />
      <error statusCode="400" path="D:\INETPUB\VHOSTS\anyhomework.co\error_docs\bad_request.html" />
      <remove statusCode="401" />
      <error statusCode="401" path="D:\INETPUB\VHOSTS\anyhomework.co\error_docs\unauthorized.html" />
      <remove statusCode="403" />
      <error statusCode="403" path="D:\INETPUB\VHOSTS\anyhomework.co\error_docs\forbidden.html" />
      <remove statusCode="404" />
      <error statusCode="404" path="D:\INETPUB\VHOSTS\anyhomework.co\error_docs\not_found.html" />
      <remove statusCode="405" />
      <error statusCode="405" path="D:\INETPUB\VHOSTS\anyhomework.co\error_docs\method_not_allowed.html" />
      <remove statusCode="406" />
      <error statusCode="406" path="D:\INETPUB\VHOSTS\anyhomework.co\error_docs\not_acceptable.html" />
      <remove statusCode="407" />
      <error statusCode="407" path="D:\INETPUB\VHOSTS\anyhomework.co\error_docs\proxy_authentication_required.html" />
      <remove statusCode="412" />
      <error statusCode="412" path="D:\INETPUB\VHOSTS\anyhomework.co\error_docs\precondition_failed.html" />
      <remove statusCode="414" />
      <error statusCode="414" path="D:\INETPUB\VHOSTS\anyhomework.co\error_docs\request-uri_too_long.html" />
      <remove statusCode="415" />
      <error statusCode="415" path="D:\INETPUB\VHOSTS\anyhomework.co\error_docs\unsupported_media_type.html" />
      <remove statusCode="500" />
      <error statusCode="500" path="D:\INETPUB\VHOSTS\anyhomework.co\error_docs\internal_server_error.html" />
      <remove statusCode="501" />
      <error statusCode="501" path="D:\INETPUB\VHOSTS\anyhomework.co\error_docs\not_implemented.html" />
      <remove statusCode="502" />
      <error statusCode="502" path="D:\INETPUB\VHOSTS\anyhomework.co\error_docs\bad_gateway.html" />
      <remove statusCode="503" />
      <error statusCode="503" path="D:\INETPUB\VHOSTS\anyhomework.co\error_docs\maintenance.html" />
    </httpErrors>
    <tracing>
      <traceFailedRequests>
        <clear />
      </traceFailedRequests>
    </tracing>
  </system.webServer>

  
  <system.web>
  
    <customErrors mode="Off" defaultRedirect="index.aspx" />
    <compilation tempDirectory="D:\INETPUB\VHOSTS\anyhomework.co\tmp"  debug="true" />
	<httpRuntime maxRequestLength="10240" />
	
	<machineKey 
validationKey="D0421540B1ED64B8140986A153281B004759C3E1F4CBF330DA74F019F99D50D21FEB2665974CD40E3892BC66E0A774162D3FCD7AEAA20065D7B4C2B283130F0E"
decryptionKey="E23852F428E68DD21B50D0654F5D4F1A69680D17A626872A"
validation="SHA1"
/>
  </system.web>
</configuration>